<style>
    .row
    {
        margin: 5px 0;
    }
    label
    {
        font-weight: bold;
        font-size: 0.9em;
        display: block;
    }
    .children
    {
        display: none;
    }
    #child-base-options
    {
        display: block;
    }
    .button_example
    {
        margin: 20px 0;
    }
</style>